body{
    color: #333;
    font-family: arial;
    max-width: 650px;
    margin:0 auto;
    padding:0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #d19766e6;
}

.main-content {
    flex-grow: 1;
}


footer{
    color:rgb(12, 11, 11);
    border-top: 1px solid #eeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: rgb(15, 8, 8);
    margin-right:16px ;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

input {
    border:1px solid rgb(10, 2, 2);
    padding: 8px;
    background:rgb(10, 1, 1);
    color:white;
}

button{
    cursor:pointer;
    border:1px solid rgb(10, 9, 9);
    background:rgb(10, 1, 1);
    color: white;
    padding: 8px;
}